.experience {
  position: absolute;
  inset: 0;
  z-index: 0;

  canvas {
    width: 100% !important;
    height: 100% !important;
    pointer-events: auto;
    cursor: default;
  }
}

@media (max-width: 767px) {
  .experience canvas {
    pointer-events: none;
    cursor: default;
  }
}
